.header {
  padding: 40rem 0 23rem 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    padding: 11rem 42rem;
    @include tablet {
      display: none;
    }
  }

  &__logo {
    display: inline-flex;
    gap: 8rem;
    align-items: center;
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 28rem;
    line-height: 140%;
    img {
      width: 40rem;
      height: 40rem;
    }
  }

  &__backdrop {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transform: translateX(120%);
    display: none;
    transition: var(--transition);
    opacity: 0;

    @include tablet {
      display: block;
    }

    &._active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__ul {
    display: flex;
    align-items: center;
    gap: 40rem;
    z-index: 9;

    @include tablet {
      z-index: 9;
      position: fixed;
      width: 70%;
      height: 100%;
      flex-direction: column;
      left: 0;
      top: 0;
      background: #333333;
      align-items: center;
      justify-content: center;
      transform: translateX(-120%);
      transition: var(--transition);
    }

    &._active {
      transform: translateX(0);
    }

    .icon-close {
      position: absolute;
      top: 40rem;
      right: 40rem;
      color: var(--c-text-white);
    }
  }

  &__a {
    font-weight: 400;
    font-size: 18rem;
    line-height: 25rem;
    transition: var(--transition);
    &.is-active,
    &:hover {
      color: var(--c-secondary);
    }
    @include tablet {
      color: var(--c-text-white);
    }
  }
}

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none;

  @include tablet {
    display: inline-block;
  }
}
