html {
  font-size: 1px;
  @include tablet {
    font-size: 0.9px;
  }
  @include mobile {
    font-size: 0.8px;
  }
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-size: 16rem;
  font-family: var(--font-family);
  background: var(--bg-primary);
  color: var(--c-text-white);
  position: relative;
}

.body-light1 {
  border-radius: 233rem;
  width: 467rem;
  height: 1234rem;

  background: linear-gradient(
    180deg,
    rgba(84, 84, 212, 0.27) 0%,
    rgba(84, 84, 212, 0.1134) 100%
  );
  filter: blur(150px);
  transform: rotate(54deg);
  position: absolute;
  top: -148rem;
  left: -402rem;
  z-index: -1;
  pointer-events: none;
}

.body-light2 {
  border-radius: 233rem;
  width: 467rem;
  height: 1399rem;
  background: linear-gradient(
    180deg,
    rgba(251, 168, 28, 0.1066) 0%,
    rgba(224, 86, 136, 0.0615) 100%
  );
  filter: blur(150px);
  transform: rotate(-66deg);
  position: absolute;
  top: 161rem;
  right: -453rem;
  z-index: -1;
  pointer-events: none;
}

a {
  color: var(--c-primary);
  font-family: var(--font-family);
}

.container {
  max-width: 1240rem;
  padding-inline: 20rem;
  margin-inline: auto;
  width: 100%;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16rem;
  line-height: 22rem;
  letter-spacing: -0.500211rem;
  color: var(--c-text-white);
  padding: 11rem 42rem;
  transition: var(--transition);

  &._secondary {
    border: var(--border-btn);
    border-radius: 5rem;
  }

  &._primary {
    background: var(--c-secondary);
    font-weight: 700;
  }
}

.btn:hover {
  transform: scale(1.1);
}

.title-lg {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60rem;
  @include tablet {
    font-size: 45rem;
  }
  @include mobile {
    font-size: 32rem;
    line-height: 120%;
  }
}

.title-md {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 58rem;
  line-height: 79rem;
  @include tablet {
    font-size: 38rem;
  }
  @include mobile {
    font-size: 28rem;
    line-height: 120%;
  }
}

.section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.section.show {
  opacity: 1;
  transform: translateY(0);
}
